@import '../../styles/variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import '../app.component.scss';


.hero {
    text-align: center;
    background-image: url('https://img.pikbest.com/backgrounds/20190909/original-blue-business-technology-fluid-banner-background_2761716.jpg!w700wp');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #f4f4f4;
    width: 102%;
    overflow-x: hidden;
  }
  
  .hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    font-family: 'Montserrat', sans-serif;
    color: white;
  }
  
  .hero p {
    font-size: 1rem;
    color: #f4f4f4;
    margin-top: -1em;
    font-family: 'Montserrat', sans-serif;
  }
  
  section {
    display: flex;
    flex-direction: column;
  }
  