<app-navbar/>

<app-hero/>
  
  <main className="main-container">
    <section>
      <article class='project-article'>
        <h1>TinTin60CAT VR Experience</h1>
        <div class='project-container'>
          <p>
            El projecto TinTin60CAT es una experiencia de realidad virtual creada para conmemorar el
            60 aniversario de la primera edición del cómic de tintin en catalán. En la experiencia podrás
            adentrarte por la historia del joven aventurero TinTin, conocerás a todos los personajes de la saga
            , además de conocer a su creador, y a la persona que introdujo el cómic en España.
          </p>
          <p>
            El recorrido de la experiencia consta de varias escenas en las que podrás recorrer tanto la historia del creador, Georges Remí (Hergé)
            como la historia de la persona que introdujo el comic, Conchita Zendrera. La experiencia tiene una duración aproximada de 10 minutos, en los que
            harás un recorrido guiado por una serie de contenidos, tanto imágenes como vídeos en los que podrás inmersarte en su historia.
          </p>
          <p></p>
        </div>
      </article>
      <article class='project-trailer'>
        <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/o-fQncsQrEE?si=KzQN2WInED8WL8qd" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>        
        <em>Tráiler de la experiencia TinTin60Cat</em>
      </article>
      <article class="mediakit-container">
        <h2>Contenidos</h2>
        <p>Todo el contenido dentro del media kit es de uso público, cualquier persona o empresa puede usar estos contenidos.</p>
        <em>Si necesitas cualquier contenido adicional que no está disponible en nuestro presskit, <a href="/contact" style="color: blue;">contacta con nosotros.</a></em>
        <a class="btn" style="margin-top: 2%; margin-bottom: 2%;" href="assets/sources/tintin60cat_mediakit.rar" download>Media Kit</a>
      </article>
      <article class='project-gallery-article'>
        <div class='project-gallery-container'>
          <img src='assets/projects/tintin-vr-experience/TinTinVRExperience-1.png' alt='Imagen projecto Viladecans VR 1'/>
          <img src='assets/projects/tintin-vr-experience/TinTinVRExperience-2.jpg' alt='Imagen projecto Viladecans VR 2'/>
          <img src='assets/projects/tintin-vr-experience/TinTinVRExperience-5.jpg' alt='Imagen projecto Viladecans VR 5'/>
        </div>
      </article>
    </section>
  </main>

  <!-- Footer -->
  <app-footer/>