
<div class="full-container">
  <app-navbar/>
  <!-- Hero -->
  <app-hero/>
  
  <!-- Main -->
  <main class='main-container'>
    <div class='main-container'>
      <section>
        <article class='project-article'>
          <h2>Proyectos</h2>
          <div class='project-container'>
            <div>
              <img src='assets/projects/hospital-viladecans-vr-experience/hospital-viladecans-2.png' alt='Imagen proyecto Hospital Viladecans'/>
              <p class='project-container-title'><b>Hospital Viladecans</b></p>
              <p class='project-container-subtitle'><em>VR, Experiencia, Inmersivo</em></p>
              <a href='/projects/hospital-viladecans-vr-experience' class='btn'>Leer más</a>
            </div>
            <div>
              <img src='assets\projects\tintin-vr-experience\TinTinVRExperience-1.png' alt='Imagen proyecto TinTin60Cat'/>
              <p class='project-container-title'><b>TinTin60CAT</b></p>
              <p class='project-container-subtitle'><em>VR, Museo, Experiencia, Inmersivo</em></p>
              <a href='/projects/tintin60cat-vr-experience' class='btn'>Leer más</a>
            </div>
          </div>
        </article>
      </section>
      <section>
        <article class='team-article'>
          <h3>Nuestro equipo</h3>
          <p>
            En NerivaLabs apostamos por tener un equipo multidisciplinar para poder
            ofertar el mejor servicio posible a nuestros clientes.
          </p>
          <div class='team-container'>
            <div>
              <img src='/assets/persona.png' alt=''/>
              <h3>Ivan <em>'ItsIvanPsk'</em> Figueredo</h3>
              <p>Founder & Lead Programer</p>
            </div>
            <div>
              <img src='/assets/persona.png' alt=''/>
              <h3>Nerea <em>'Remtail'</em> López</h3>
              <p>Founder & Project Manager</p>
            </div>
            <div>
              <img src='/assets/persona.png' alt=''/>
              <h3>William <em>'Darkoul'</em> Molina</h3>
              <p>Programer & 3D Artist</p>
            </div>
            <div>
              <img src='/assets/persona.png' alt=''/>
              <h3>Jenner <em>'Okamen'</em> Sarmiento</h3>
              <p>System Management & SysOps</p>
            </div>
            <div>
              <img src='/assets/persona.png' alt=''/>
              <h3>Mireia <em>'Luniare'</em> Lopez</h3>
              <p>Event Manager</p>
            </div>
          </div>
        </article>
      </section>
      <section>
        <article class='event-article'>
          <div>
            <h3>Eventos</h3>
            <p>
              Uno de nuestros servicios, orientado en gran medida en el desarrollo de experiencias de realidad virtual, son 
              la organizacion de eventos de muestras de dichas experiencias. Durante el dia o dias de muestra de la experiencia,
              el estudio organiza la experiencia en base a las necesidades del evento, además de dar cobertura técnica al evento.
            </p>
          </div>
          <div class='event-gallery'>
              <img src='assets/events/Evento-TinTin-2.jpg' alt='Imagen de evento de presentación de TinTin60CAT'/>
              <img src='assets/events/Evento-TinTin-1.jpg' alt='Imagen de evento de presentación de TinTin60CAT'/>        
          </div>
        </article>
      </section>
    </div>
  </main>
  
  <!-- Footer -->
  <app-footer/>
</div>