<div class="full-container">
  <app-navbar></app-navbar>
  <app-hero></app-hero>

  <main class='main-container'>
    <div class='content-container'>
      <section>
        <article class='project-article'>
          <h2>Proyectos de Realidad Virtual</h2>
          <div class='project-container'>
            <div>
              <img src='assets/projects/hospital-viladecans-vr-experience/hcvr-img-4.png' alt='Proyecto de experiencia de realidad virtual en Hospital Viladecans'/>
              <p class='project-container-title'><b>Hospital Viladecans</b></p>
              <p class='project-container-subtitle'><em>Realidad Virtual, Experiencia Inmersiva, Tecnología Médica</em></p>
              <a href='/projects/hospital-viladecans-vr-experience' class='btn'>Leer más</a>
            </div>
            <div>
              <img src='assets/projects/tintin-vr-experience/TinTinVRExperience-1.png' alt='Proyecto de realidad virtual TinTin60CAT'/>
              <p class='project-container-title'><b>TinTin60CAT</b></p>
              <p class='project-container-subtitle'><em>Realidad Virtual, Museo, Experiencia Inmersiva</em></p>
              <a href='/projects/tintin60cat-vr-experience' class='btn'>Leer más</a>
            </div>
          </div>
        </article>
      </section>

      <section>
        <article class='team-article'>
          <h3>Conoce a Nuestro Equipo de Expertos en Realidad Virtual</h3>
          <p>
            En NerivaLabs, contamos con un equipo multidisciplinar que abarca desde desarrolladores hasta expertos en gestión de eventos,
            todos enfocados en ofrecer soluciones de realidad virtual innovadoras y personalizadas. Nuestro equipo está compuesto por
            profesionales altamente capacitados en áreas clave como programación, gestión de proyectos y soporte técnico.
          </p>
          <div class='team-container'>
            <div>
              <img src='/assets/persona.png' alt='Ivan ItsIvanPsk Figueredo, Fundador y Desarrollador Principal'/>
              <h3>Ivan <em>'ItsIvanPsk'</em> Figueredo</h3>
              <p>Founder & Lead Programmer</p>
            </div>
            <div>
              <img src='/assets/persona.png' alt='Nerea Remtail López, Fundadora y Project Manager'/>
              <h3>Nerea <em>'Remtail'</em> López</h3>
              <p>Founder & Project Manager</p>
            </div>
            <div>
              <img src='/assets/persona.png' alt='William Darkoul Molina, Programador y Artista 3D'/>
              <h3>William <em>'Darkoul'</em> Molina</h3>
              <p>Programer & 3D Artist</p>
            </div>
            <div>
              <img src='/assets/persona.png' alt='Jenner Okamen Sarmiento, Gestión de Sistemas y SysOps'/>
              <h3>Jenner <em>'Okamen'</em> Sarmiento</h3>
              <p>System Management & SysOps</p>
            </div>
            <div>
              <img src='/assets/persona.png' alt='Mireia Luniare Lopez, Gestora de Eventos'/>
              <h3>Mireia <em>'Luniare'</em> Lopez</h3>
              <p>Event Manager</p>
            </div>
          </div>
        </article>
      </section>

      <section>
        <article class='event-article'>
          <div>
            <h3>Organización de Eventos de Realidad Virtual</h3>
            <p>
              NerivaLabs se especializa en la creación de eventos inmersivos de realidad virtual, diseñados para ofrecer experiencias únicas y memorables. 
              Nos encargamos de la organización completa del evento, desde la creación de la experiencia virtual hasta el soporte técnico necesario para 
              asegurar que todo funcione a la perfección, adaptándonos a las necesidades del cliente y del evento.
            </p>
          </div>
          <div class='event-gallery'>
            <img src='assets/events/Evento-TinTin-2.jpg' alt='Evento de presentación de TinTin60CAT, una experiencia de realidad virtual'/>
            <img src='assets/events/Evento-TinTin-1.jpg' alt='Presentación de realidad virtual en el evento TinTin60CAT'/>
          </div>
        </article>
      </section>
    </div>
  </main>

  <app-footer></app-footer>
</div>